@import url('https://fonts.googleapis.com/css?family=Charmonman');


.homePage {
    width: 100%;
    font-family: 'Charmonman', cursive;
}

.titleCard {
    background: blue;
    height: 30%;
    display: flex;
    border-radius: 50px;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    border: 5px solid #1d7dd5;
    height: 80vh;
    /* background-color: #f5c900; */
    background-image: url("./img/mosaic.jpg");
    background-size: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
   font-size: 6rem; 
}

img {
    height: 500px;
    margin: 20px;
    border: 5px solid gray;
    
}

@media only screen and (max-width: 600px) {
    img {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}