@import url('https://fonts.googleapis.com/css?family=Charmonman');

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Charmonman', cursive;
}
.navigation {
  width: 100%;
}

h1 {
  font-size: 2.4em;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
  border-right: none;
  border-left: none;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 2.4em; 
}

span {
  text-decoration: none;
  color: black;
  font-size: 2.4em; 
}

span:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

    
}
