.header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin-bottom: 5px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 3.6em;
  background-color: green;
  border-radius: 8px;
}
